# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Testing
coverage/
.nyc_output/

# Misc
*.bak
*.tmp
*.cache
*-session-*
docs/

*.crt
*.key

**/.next/*
